@charset "utf-8";
h1  {
	border: thick solid #604344;
	border-radius: 50;
	background-image: url("sand.jpg");
	
}

.contact {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 10px;
}

a:hover {background-color: #00C3FF;
}

.nav {
	text-align: center;
	font-size: 20px
}

.img1 { 
	position: initial;
	display: block;
	margin-right: auto;
	margin-left: 1100px;
}